/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
.root {
    --azzurro: #add8e6;
    --orancione: #daa520;
    --bluscuro: #00008b;
    --blue: #1e90ff;
    --rosa: #ffc0cb;
    --verde: #228b22;
    --rosso: #FF0000;
    --acquamarina: #20b2aa;
    --grigio: #dddcdc;

    --margin: 20px;
    --padding: 20px;
    --width-min: 150px;
    --height-min: 100px;
}




/* Generics */
body {

}



/* Utilties */
.cointainer {
    min-width: 1140px;
    margin: 0 auto;
}

/* Header */
.top-header {
    background-color: #20b2aa;
    height: 100px;
    display: flex;
    align-items: center;
    
}

.nav {
    background-color: #daa520;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50px;
    line-height: 50px;

}

.sub-nav {
    border: 1px solid #FF0000;
    align-items: center;
    height: 100%;
}

.sub1 {
    width: 20%;
}

.sub2 {
    width: 60%;
}

#jumbotron {
    height: 400px;
    background-color: #00008b;
}

/* Main */

/* Footer */